<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMY</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body id = "login_body">

    <div id = "login">
        <form action="" method="POST" id = "sign_form">
            <img src="/static/AMYlogo.png" alt="">
            <h1> Log in to your account</h1>
            <input type="email" placeholder="Email" name="email" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
            <a href="https://amy-vtyg.onrender.com/signup"> Did you forget your password? Sign up?</a>
        </form>

    </div>
    
    <script src="script.js"></script>

</body>
</html>